@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wgh@400;600;700&display=swap');


:root{
    --color-primary:#006241;
    --color-secondary:#d50032;
    --color-extra:#d4e9e2;
}
 
html,body{

    font-family:Open ,sans-serif;
    margin-top: 0px;
  
}
*{
    box-sizing: border-box;
   
    margin: 0;
    padding: 0;
}

a{
    color:#000;
}
ul{
    list-style: none;

}
.mod{
    margin-left: 40px;
}
p{
    margin: 5px 0;
    line-height: 1.7;
    padding-right: 10px;
}
img{
    max-width: 100%;
}
section a{
    color: #fff;
}
    .navbar{
        width: 100%;
        height:auto;
        background-color: white;
        padding: 15px;
        box-shadow: 0 1px 3px rgb(0 0 0 /10%),0 2px 2px rgb(0 0 0 / 6%),0 0 2px rgb(0 0 0 / 7%);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}




.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0 15px;
    font-weight: bold;
}
.navbar a{
    color: #000;
    text-decoration: none;
}
.navbar a:hover{
    color:var(--color-primary);
}
    .navbar-brand img{
        width: 50px;
        height: 50px;
    }
    
    
    .narbar-nav-left{
        text-transform: uppercase;
        flex: 1;
       
       font-size: medium;
      
    }
    .navbar-nav-right li :firstchild a{
        display: flex;
        align-items: center;
    }
    .navbar-nav-right img{
        height: 30px;
        width: 30px;
        margin-right: 1px;
    }
    .navbar-nav-right li:nth-child(2) {
    margin-right: 0 5px;
}
/*footer&social*/
.para-footer{
    padding:50px;
    text-align:center;
    cursor: pointer;
    padding-left:455px;
    padding-right: 455px;
    font-size: 14px;
}
.footer{
    padding: 24px 0;
    box-shadow: 0 -1 3px rgb(0 0 0 / 10%)
                0 -2 2px rgb(0 0 0 / 6%)
                0  0 2px rgb(0 0 0 / 7%);
    color:#000;
}
.footer{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
   
}
.footer-container{
    padding: 0 40px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}
.footer-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-container ul li{
    color: rgba(0,0,0,0.56);
    padding-top: 0.8rem;
    padding-bottom: 0.8 rem;
    margin-bottom: 0.8 rem;
    cursor: pointer;
}
.footer-containerul li:hover{
    color: rgba(0,0,0,0.87);
}
.links-container{
    width: 185px;
    margin-right: 70px;
    margin-bottom: 30px;
   
}
.footer h5{
    font-weight: 400;
    margin-bottom: 30px;   
}

.footer-below{
    margin-left: 40px;
    margin-right: 70px;
    border-top: 2px solid rgba(0,0,0,0.1);
}
.social{
    display: flex;
    align-items: center;
    
}
.social img{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}
.social a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 40px;
}
.po{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.policy a:hover{
    text-decoration: underline;
}
.final{
    font-size: small;
    color:#acacac;
    margin-left: 35px;
}
.divider{
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;
}

/*box*/
.box{
    margin-bottom: 30px;
    margin-top: 30px;
}
.box.inner{
    max-width: 700px;
    margin: 0 auto;

}
.box-text{
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 20px 0;
}
.box-text.btn{
    margin-top: 20px;
}
/* grid styles */
.grid-col-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 2 rem;
   align-items: center;
   justify-content: space-between;
}
.grid-reversed :first-child {
order: 2;
}

/*Button*/

.btn{
    cursor: pointer;
    display: inline-block;
    background-color: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
.btn-dark-outline{
    border-color:#000 ;
    color: #000;
   
    
    font-weight:bold;

}
.btn-dark-outline:hover,
.btn-light-outline:hover{
    background-color: rgba(0,0,0,0.06);
}
.btn-light-outline{
    border-color: #fff;
    color: #fff;
}
.btn-dark{
    background-color: #000;
    color: #fff;
    font-size: medium;
    width: 100px;
    
}
.btn-dark:hover{
    background-color: #333;
}
/*Backgrounds */

.bg-1st{
    background-color:#9e2240;
    color: #fff;
}
.bg-2nd{
    background-color:#006241;
    color: #fff;
}
.bg-3rd{
    background-color:#9e2240 ;
    color:#fff ;
}
.bg-4th{
    background-color:#006241 ;
    color:#fff ;
}
.bg-5th{
    background-color: #007179;
    color: #fff;
}
.bg-6th{
    background-color:#ffbe9e ;
    color: #000;
}
.bg-7th{
    background-color:#f2f0eb ;
    color:#000 ;
}




.text-center{
    text-align: center;
}
.text-xl{
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-bottom: 20px;
}
.text-xl{
    font-size: 40px;
    margin-bottom: 20px;
}
.text-md{
    font-size: 25px;
    margin-bottom: 20px;
}.text-sm{
    font-size: 19px;
    margin-bottom: 20px;
}
/*padding*/
.py-sm{
    padding: 10px 0;
}
.py-md{
    padding: 20px 0;
}

.py-lg{
    padding: 40px 0;
}

/* hamburger menu icon*/
 .hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background-color: none;
    border:none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background:#000 ;
    transform:rotate(0) ;
    transition: all 0.5s;

}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open.hamburger-top{
    transform: rotate(45deg) translateY(6px)translateX(6px);
}
.open.hamburger-middle{
    display: none;
}
.open.hamburger-bottom{
    transform: rotate(-45deg) translateY(6px)translateX(-6px);
}
/* mobile menu*/
.mobile-menu{
    position:fixed;
    top: 75px;
  
    
    right: 00;
    background-color: #fff;
    color: #000;
    width: 90% ;
    height: 100%;
    padding: 3px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 /10%),
                inset 0 4px 2px -2px rgb(0 0 0 / 7%);
                transition: all 0.3s;
              
               
}
.mobile-menu img{
width: 30px;
height: 30px;
margin-left: -40px;
margin-top: 3px;

}

.mobile-menu ul{
    line-height:3 ;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
   

}
.mobile-menu a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;

}
.mobile-menu a:hover{
    color:var(--color-primary);
}
.mobile-menu div{
    margin-top: 20px;
    margin-left: 30px;

}
.mobile-menu div a{
    display: flex;
    align-items: center;
    font-size: 17px;
   font-weight: 600;
   
   
   

}

.btn1{
    background-color:white ;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    font-weight: 700;
    margin-right: 10px;

}
.btn2{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: #000;
    color: white;
    font-weight: 400;
}

.hidden{
    transform: translateX(100%);
}
.no-scroll{
    overflow: hidden;
}

@media(max-width:960px){
    .text-xl{
        font-size: 30px;
    }
    .text-lg{
        font-size :25px;
    }
    .text-md{
        font-size: 19px;
    }
}
    @media(max-width:768px){
        .hamburger{
            display: block;
        }
        .grid-col-2{
            grid-template-columns: 1fr;
        }
        .grid-reversed:first-child{
            order: 0;
        }
        .navbar-brand img{
            width: 40px;
            height: 40px;
        }

        .navbar .navbar-nav-left,
        .navbar .navbar-nav-right{
            display: none;
        }
        .footer{
            text-align: center;
        }
    }

@media(min-width:1440px){
    .box{
        max-width: 1440px;
        margin-right: 0;
        margin-left: 0;
    }
    .divider{
        max-width:90%;
    }
}